@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
:root {
	--font1: 'Baloo Tamma 2', cursive;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.header {
  color: black;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  font-size: 75px;
  font-family: var(--font1);
  height:300px;
  background-image: url('/assets/mert.jpg');
  background-size: cover;
  background-position: center center;
  background-color: white;
  padding-top: 100px;
}

@media (min-width: 720px) {
	
}

